[Unit]
Description=Control local display power using setterm (takio)
After=systemd-user-sessions.service suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
#Environment=TERM=linux
ExecStart=/bin/sh -c "setterm --blank 1 --powerdown 2 && echo 2 > /sys/class/graphics/fbcon/rotate_all"
ExecStartPost=/bin/sh -c "setterm --blank 1 --powerdown 2 && echo 2 > /sys/class/graphics/fbcon/rotate_all"
ExecStop=/bin/sh -c "setterm --blank 0 --powerdown 0 && echo 0 > /sys/class/graphics/fbcon/rotate_all"
User=root
StandardOutput=tty
TTYPath=/dev/console
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
